
@import "@fontsource/uncut-sans";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Uncut Sans', sans-serif;
}
@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/Uncut-Sans-regular.woff2') format('woff2'),
       url('/fonts/Uncut-Sans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/Uncut-Sans-bold.woff2') format('woff2'),
       url('/fonts/Uncut-Sans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: 'Uncut Sans', sans-serif;
}

h1 {
  font-family: 'Uncut Sans', sans-serif;
  font-weight: bold; 
}

body {
  font-family: 'Uncut Sans', sans-serif;
}



.containers {
  @apply w-full flex flex-col items-center justify-center
}
.gradient-background {
  @apply bg-no-repeat bg-custom-light bg-light-gradient bg-custom-light dark:bg-dark-gradient dark:bg-custom-light 
}

.glitter-background{
  background: linear-gradient(135deg, rgba(232, 184, 246, 0.1) 0%, rgba(20, 60, 253, 0.1) 100%);
}
